[MASTER]
disable=C0114, C0115, C0116, R0913, C0301, E0012, R0801, E0401, E0611, W0719 ; missing-module-docstring ,  missing-class-docstring, missing-function-docstring, too-many-arguments, line-too-ling, broad-exception-raised, Similar lines
# Please check the comment in ./authz_analyzer/datastores/aws/__init__.py
init-hook="import sys; sys.path.insert(0, '.'); sys.path.insert(1, './authz_analyzer/datastores/aws/aws_ptrp_package')"
[FORMAT]
max-line-length=120